*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin-top: 3rem;
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root {
	background-color: gray;
	margin: auto auto;
}
.line {
	display: flex;
}
.card {
	width: 65px;
	height: 75px;
	background-color: #ddd;
	border: 0.25px solid gray;
	border-radius: 5px;
	margin: 2px;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}
.back {
	/* background-image: url('./img/back.png'); */
	animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 1.2) both;
	background: gray;
}
.boxe:hover {
	border: rgb(0, 221, 192) 1px solid;
	cursor: pointer;
}
.front {
	background: gray;
	animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.03, 0.515, 1.2) both;
}

.flip-vertical-fwd {
	animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip-vertical-fwd {
	0% {
		transform: translateZ(0) rotateY(0);
	}
	100% {
		transform: translateZ(160px) rotateY(180deg);
	}
}

.flip-vertical-bck {
	animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip-vertical-bck {
	0% {
		transform: translateZ(0) rotateY(0);
	}
	100% {
		transform: translateZ(-260px) rotateY(-180deg);
	}
}
