*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin-top: 3rem;
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root {
	background-color: gray;
	margin: auto auto;
}
.line {
	display: flex;
}
.boxe {
	width: 65px;
	height: 75px;
	background-color: #ddd;
	border: 0.25px solid gray;
	border-radius: 15px;
	margin: 2px;
}
.back {
	background-image: url('./img/back.png');
	background-size: contain;

	width: 65px;
	height: 75px;
}
